<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Drive</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <%- include('../partials/header')  %>

    <div style="display: flex;justify-content: center;align-items: center; margin-top:10vh; font-size: large; margin-left: 10vw; margin-right: 10vw;">
         
        <p> <span class="text-blue-900 font-semibold text-2xl">My drive :</span> A web application designed to help users store, manage, and share files online. Whether you're working individually or collaborating with a team, our platform provides an intuitive and efficient way to keep your documents, images, and media files organized and accessible from anywhere.</p>
      </div>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
